*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: azure;
    margin: 0 auto;
 box-shadow: 4px 3px 5px rgba(1 , 2,3, 0.1);
 border-radius: 15px;
    margin-top:50px ;
}

.title{
    font-size: 20px;
}

.form-cont{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_control{
    display: flex;
   flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: 5px;
}

input,select,textarea{
    padding: 6px 10px;border: 1px solid gray;
    border-radius: 4px;
font-size: 15px;
}

input:focus{
    outline-color: brown;
}

.btn-container{
display: flex;
justify-content: end;
margin-top: 20px;
}

button{
    background-color: chocolate;
    border: transparent solid 2px;
    padding: 5px 10px;
    color:white ;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: rgb(100, 67, 40);
    border: 2px solid rgb(92, 49, 51);
    transition: 0.3s ease-out;
    color: rgb(194, 150, 109);
    cursor: pointer;
}
.text_area{
    grid-column: 1 / span 2;
}
.text_area textarea{
width: 100%;
}

@media(max-width:460px){
    .text_area{
        grid-column: 1 / span 2;
    }
}